# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Worker
WORKER_CONCURRENCY=3
API_URL=http://localhost:9090

# API
API_PORT=9090

# Database (Neon Postgres)
DATABASE_URL=postgresql://user:pass@ep-xxx.region.aws.neon.tech/neondb?sslmode=require
